@media screen and (min-device-width: 1201){
	.software{
		width: 128px; height: 241px;
		background:url(software.png) 2px 0px;
	}
}

@media screen and (min-device-width: 1101) and (max-device-width: 1200){
	.software{
		width: 128px; height: 241px;
		background:url(software.png) 130px 0px;
	}
}

@media screen and (min-device-width: 1001) and (max-device-width: 1100){
	.software{
		width: 128px; height: 241px;
		background:url(software.png) 258px 0px;
	}

}

@media screen and (min-device-width: 901) and (max-device-width: 1000){
	.software{
		width: 128px; height: 241px;
		background:url(software.png) 385px 0px;
	}
}

@media screen and (min-device-width: 801) and (max-device-width: 900){
	.software{
		width: 128px; height: 241px;
		background:url(software.png) 511px 0px;
	}
}

@media screen and (min-device-width: 701) and (max-device-width: 800){
	.software{
		width: 128px; height: 239px;
		background:url(software.png) 2px -241px;
	}
}

@media screen and (min-device-width: 601) and (max-device-width: 700){
	.software{
		width: 128px; height: 239px;
		background:url(software.png) 130px -241px;
	}
}

@media screen and (min-device-width: 501) and (max-device-width: 600){
	.software{
		width: 128px; height: 239px;
		background:url(software.png) 258px -241px;
	}
}

@media screen and (min-device-width: 401) and (max-device-width: 500){
	.software{
		width: 128px; height: 239px;
		background:url(software.png) 385px -241px;
	}
}

@media screen and (min-device-width: 400){
	.software{
		width: 128px; height: 241px;
		background:url(software.png) 511px -241px;
	}
}